body{
    font-family: "railways" ,sans-serif;
    color: #565a5c;
}

/*********** Adil **********************/


.Packages{

padding: 10px;

float: left;

width: 100%;

box-shadow: 0 0 1px 0px;
}

.Packages.Packages2{
    margin-bottom: 37px;
}

.img3 img{
	    padding: 13px 14px;
}


.img3 {
    float: left;
    width: 20%;
    margin-right: 5%;
}


.text2 h4{
    color: #45b832;
    font-size: 20px;
    padding: 31px 6px 7px 5px;

}

.text2 h4.head2{
    display: inline-block;
}

.img3.name{
	    width: 11%;
}


.text2 a{
    border: 1px solid #3fb832;
    border-radius: 30px;
    padding: 9px 24px;
    font-size: 18px;
    background: none;
    color: #3fb832;
}


.text2 span.reting2{
	padding-left: 165px;
	color: #38bf29;
	font-size: 22px;
	background: url(../images/rate.png) no-repeat 143px 8px;
}

.text2 span{
	     background: url(../images/loocation.png) no-repeat 0px 0px;
    padding: 3px 30px;
    color: #2f2f2f;
    font-size: 16px;


}


.Select-dates{
    float: left;
    box-shadow: 0 0 1px 0px;
    width: 100%;
    padding-bottom: 18px;
    margin: 98px 4px 32px 0;
}

.Select-dates h3{
	    font-size: 20px;
    color: #3fb832;
    padding: 18px 18px;
}

.Select-dates input{
	background: #f6f6f6;
	border: 1px #dcdcdc solid;
	color: #686868;
	font-size: 16px;
	width: 42%;
	padding: 7px 14px;
	mar;
	margin: 3px 0 0 17px;
}
.Select-dates h4{
    padding: 0 47px;
    color: #747474;
    font-size: 18px;
    font-weight: 100;
    display: inline-block;
}
.Select-dates h4.from{
	    padding: 0 102px
}


/***************** end ******************/



/***************** select-room ***************/

.select-room{
	padding: 90px 0;
	float: left;
	width: 100%;
	box-shadow: 0 0 1px 0px;
	background: #ffffff;
	margin: 0px 0 17px 0px;
}


.select-room select{
    color: #6b6b6b;
    font-size: 19px;
    background: #f6f6f6;
    border: 1px #e9e9e9 solid;
    padding: 8px 61px 6px 9px;
}
.select-room span{
    font-size: 20px;
    color: #3fb832;
    font-weight: normal;
    padding: 79px 21px;
}
.select-room span.rooms{
    color: #2f2f2f;
    /* padding: 0 60px; */
}

.select-room a{
    color: #636363;
    border: 1px #e9e9e9 solid;
    padding: 6px 49px;
    display: inline-block;
    font-size: 20px;
    background: #f6f6f6;
}

.Select-dates.Price{
	    background: #fff;
    margin: 0 0;
}

.Select-dates h5{
    display: inline-block;
    font-size: 20px;
    padding: 0 21px;
}

.Select-dates span{
	padding-left: 171px;
	color: #38bf29;
	font-size: 20px;
	background: url(../images/rate.png) no-repeat 155px 4px;
}

.underline {
    width: 89%;
    height: 1px;
    background: #b4b4b4;
    margin: 15px 20px;
}

.Select-dates h6{
    font-size: 20px;
    color: #4a4848;
    text-align: center;
}

.Select-dates h6 span.rateing{
	background: url(../images/rate.png) no-repeat 13px 4px;
	padding-left: 29px;
}
/********** End ****************/

/************** Scooty ***********/

.Scooty{
	padding: 12px 0;
	box-shadow: 0 0 1px 0px;
	background: #ffffff;
	padding: 19px 0;
	margin: 18px 0;
}

.select-add-ons h2{
    color: #3fb832;
    font-size: 20px;
    margin: 23px 15px;
}


.Scooty select{color: #6b6b6b;font-size: 19px;background: #f6f6f6;border: 1px #e9e9e9 solid;padding: 8px 61px 6px 9px;float: right;margin-right: 33px;}
.Scooty h3{
    font-size: 20px;
    color: #717171;
    display: inline-block;
    padding: 6px 32px;
}
.Scooty a{
    font-size: 16px;
}

.Scooty.Scooty2{
    margin-bottom: 12%
}


/*/////////////////Neeraj //////////////*/

@media screen and (min-width: 768px){
    section:not([id|=""]){
        margin: 60px 0;

    }

}

.card{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23), inset 1px 1px 0 0 hsla(0,0%,100%,.2);
    overflow: hidden;
    padding: 20px;
    background-color: #f5f5f5;
}

.pkg-title{
    margin-top: 10px;
    color: #6bc862;
    font-family: "railways" , sans-serif;
    font-weight: 300;

}

.pkg-title > p{
    color: #999;
}

.card-title{
    background-color: #6bc862;
    color: #f5f5f5;
    padding: 10px;
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.23), inset 1px 1px 0 0 hsla(0,0%,100%,.2);

}




.select-date p {
    color: #191919;
    font-weight: 600;

}


.total-price .price-title{
    color: #828282;
    font-weight: 300;
}



/*.total-price p:last-child{*/
    /*color: #565a5c;*/
    /*font-weight: bolder;*/
/*}*/




/*Helpers Classes*/

/*Margins*/

.m-0{
    margin: 0!important;
}

.m-5{
    margin: 5px!important;
}

.m-10{
    margin: 10px!important;
}


.m-20{
    margin: 20px!important;
}


.m-30{
    margin: 30px!important;
}


.m-40{
    margin: 60px!important;
}

.m-60{
    margin: 60px!important;
}


.m-t-5{
    margin-top: 5px!important;
}

.m-t-10{
    margin-top: 10px!important;
}

.m-t-20{
    margin-top: 20px!important;
}


.m-t-40{
    margin-top: 40px!important;
}

.m-t-60{
    margin-top: 60px!important;
}



.m-b-5{
    margin-bottom: 5px!important;
}

.m-b-10{
    margin-bottom: 10px!important;
}

.m-b-20{
    margin-bottom: 20px!important;
}


.m-b-40{
    margin-bottom: 40px!important;
}

.m-b-60{
    margin-bottom: 60px!important;
}


/*Fonts*/

.f-14{
    font-size: 14px!important;
}


.f-16{
    font-size: 16px!important;
}


.f-18{
    font-size: 18px!important;
}


.f-20{
    font-size: 20px!important;
}


.f-22{
    font-size: 22px!important;
}


.f-24{
    font-size: 24px!important;
}


.w-600{
    font-weight: 600!important;
}
